<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofingrado">
    <!-- Permiso de internet para conectarme a la base de datos MySQL -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeProyectoFinGrado">
        <activity
            android:name=".PresentationDomain.SelectedFood"
            android:exported="true" />
        <activity
            android:name=".PresentationDomain.DatosUsuario"
            android:exported="true" />
        <activity
            android:name=".PresentationDomain.Informacion"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Dialog.FixedSize" />
        <activity
            android:name=".PresentationDomain.HomeActivity"
            android:exported="true" /> <!-- Actividad de autentificación -->
        <activity
            android:name=".PresentationDomain.AuthActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>